[inventory]
enable_plugins = ini

[defaults]
host_key_checking = False
timeout = 30
retries = 3
vault_password_file = "{{ vault_pass_file['full_dest_path'] }}"
ansible_force_color = True

# human-readable stdout/stderr results display
stdout_callback = yaml
